.topic-form {
    background-color: #989898;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    padding: 2px 0;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 5px;
}