{% extends "04_usuario/base/cadastro_form_base.html" %}
{% load static %}

{% block title %}Advanced Form Elements{% endblock title %}

{% block css_specific_page %}
    <!-- Colorpicker Css -->
    <link href="{% static "plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" %}" rel="stylesheet" />
    <!-- Dropzone Css -->
    <link href="{% static "plugins/dropzone/dropzone.css" %}" rel="stylesheet">
    <!-- Multi Select Css -->
    <link href="{% static "plugins/multi-select/css/multi-select.css" %}" rel="stylesheet">
    <!-- Bootstrap Spinner Css -->
    <link href="{% static "plugins/jquery-spinner/css/bootstrap-spinner.css" %}" rel="stylesheet">
    <!-- Bootstrap Tagsinput Css -->
    <link href="{% static "plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" %}" rel="stylesheet">
    <!-- Bootstrap Select Css -->
    <link href="{% static "plugins/bootstrap-select/css/bootstrap-select.css" %}" rel="stylesheet" />
    <!-- noUISlider Css -->
    <link href="{% static "plugins/nouislider/nouislider.min.css" %}" rel="stylesheet" />
{% endblock css_specific_page %}

{% block contente_tab_form %}

<!-- Input -->
<div class="row clearfix" style="margin-top: 25px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form method="POST">
            {% csrf_token %}
            <div class="row clearfix">
                <div class="col-sm-12">
                    <label>Nome Completo</label>
                    <div class="form-group">
                        <div class="form-line">
                            {{ form.nome }}
                            <strong style="color: red;">{{ form.errors.nome }}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <label>Email</label>
                    <div class="form-group">
                        <div class="form-line">
                            {{ form.email }}
                            <strong style="color: red;">{{ form.errors.email }}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Nome da Mãe</label>
                    <div class="form-group">
                        <div class="form-line">
                            {{ form.nomemae }}
                            <strong style="color: red;">{{ form.errors.nomemae }}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-10">
                    <label>Logradouro <small>(Rua,Avenida - AV,Estrada - EST,Alameda -ALA,Beco - BC e Rodovia - ROD )</small></label>
                    <div class="form-group">
                        <div class="form-line">
                            {{ form.logradouro }}
                            <strong style="color: red;">{{ form.errors.logradouro }}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label>Número</label>
                    <div class="form-group">
                        <div class="form-line">
                            {{ form.numero }}
                            <strong style="color: red;">{{ form.errors.numero }}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-3">
                    <label>Complemento</label>
                    <div class="form-group">
                        <div class="form-line">
                            {{ form.complemento }}
                            <strong style="color: red;">{{ form.errors.complemento }}</strong>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <label>CEP</label>
                    <div class="form-group">
                        <div class="form-line">
                            {{ form.cep }}
                            <strong style="color: red;">{{ form.errors.cep }}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Bairro</label>
                    <div class="form-group">
                        <div class="form-line">
                            {{ form.bairro }}
                            <strong style="color: red;">{{ form.errors.bairro }}</strong>
                        </div>
                    </div>
                </div>
{#                <div class="col-sm-4">#}
{#                    <label>Bairro</label>#}
{#                    <div class="form-group">#}
{#                        <div class="form-line">#}
{#                            <select class="form-control selectpicker" data-live-search="true" name="add_bairro" required>#}
{#                                <option value="">Bairro</option>#}
{#                                {% for bairro in bairros %}#}
{#                                    <option value="{{ bairro.pk }}"> {{ bairro.nome}} - {{ bairro.localidade.cidade.nome }} </option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <div class="col-sm-3">
                    <label>Telefone</label>
                    <div class="form-group">
                        <div class="form-line">
                            {{ form.fone }}
                            <strong style="color: red;">{{ form.errors.fone }}</strong>
                        </div>
                    </div>
                </div>



                <div class="col-sm-4">
                    <label>NIS/PIS</label>
                    <div class="form-group">
                        <div class="form-line">
                            {{ form.nis }}
                            <strong style="color: red;">{{ form.errors.nis }}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>RG</label>
                    <div class="form-group">
                        <div class="form-line">
                            {{ form.rg }}
                            <strong style="color: red;">{{ form.errors.rg }}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label>Órgão</label>
                    <div class="form-group">
                        <div class="form-line">
                            {{ form.rg_orgao }}
                            <strong style="color: red;">{{ form.errors.rg_orgao }}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label>UF</label>
                    <div class="form-group">
                        <div class="form-line">
                            {{ form.rg_uf }}
                            <strong style="color: red;">{{ form.errors.rg_uf }}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label>Descrição Pessoal/Experiência Profissional</label>
                    <div class="form-group">
                        <div class="form-line">
                            {{ form.descricao_pessoal }}
                            <strong style="color: red;">{{ form.errors.descricao_pessoal }}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix" >
                <button type="submit" class="btn btn-success col-sm-12" >SALVAR</button>
            </div>
        </form>
    </div>
</div>
<!-- #END# Input -->

<div class="row clearfix jsdemo-notification-button" style="display: none;">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
        <button type="button" class="btn btn-primary btn-block waves-effect" data-placement-from="top"
                id="btn-error-alert" data-placement-align="center" data-animate-enter="animated bounceInUp"
                data-animate-exit="animated bounceOutUp" data-color-name="alert-warning">
            TOP CENTER
        </button>
    </div>
</div>


{% endblock contente_tab_form %}

{% block js_specific_page %}
    <!-- Bootstrap Colorpicker Js -->
    <script src="{% static "plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js" %}"></script>
    <!-- Dropzone Plugin Js -->
    <script src="{% static "plugins/dropzone/dropzone.js" %}"></script>
    <!-- Input Mask Plugin Js -->
    <script src="{% static "plugins/jquery-inputmask/jquery.inputmask.bundle.js" %}"></script>
    <!-- Multi Select Plugin Js -->
    <script src="{% static "plugins/multi-select/js/jquery.multi-select.js" %}"></script>
    <!-- Jquery Spinner Plugin Js -->
    <script src="{% static "plugins/jquery-spinner/js/jquery.spinner.js" %}"></script>
    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="{% static "plugins/bootstrap-tagsinput/bootstrap-tagsinput.js" %}"></script>
    <!-- noUISlider Plugin Js -->
    <script src="{% static "plugins/nouislider/nouislider.js" %}"></script>
{% endblock js_specific_page %}

{% block js_custom %}
    <!-- Custom Js -->
    <script src="{% static "js/chapeudepalha/cadastro/usuario.js" %}"></script>
{% endblock js_custom %}

{% block js_additional %}
    <script>
        activeItemMenu('usuario-cadastro')
    </script>
{% endblock js_additional %}