{% extends "01_base/base.html" %}
{% load static %}

{% block title %}LISTAGEM DE BENEFICIARIOS{% endblock title %}

{% block css_specific_page %}
    <!-- Colorpicker Css -->
    <link href="{% static "plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" %}" rel="stylesheet" />
    <!-- Dropzone Css -->
    <link href="{% static "plugins/dropzone/dropzone.css" %}" rel="stylesheet">
    <!-- Multi Select Css -->
    <link href="{% static "plugins/multi-select/css/multi-select.css" %}" rel="stylesheet">
    <!-- Bootstrap Spinner Css -->
    <link href="{% static "plugins/jquery-spinner/css/bootstrap-spinner.css" %}" rel="stylesheet">
    <!-- Bootstrap Tagsinput Css -->
    <link href="{% static "plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" %}" rel="stylesheet">
    <!-- Bootstrap Select Css -->
    <link href="{% static "plugins/bootstrap-select/css/bootstrap-select.css" %}" rel="stylesheet" />
    <!-- noUISlider Css -->
    <link href="{% static "plugins/nouislider/nouislider.min.css" %}" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'css/chapeudepalha/bootstrap-select.min.css' %}">


    <!-- Custom for page Css -->
    <link href="{% static "css/chapeudepalha/indicado.css" %}" rel="stylesheet" />
{% endblock css_specific_page %}

{% block content %}

<!--<div class="block-header text-center">-->
    <!--<h2>FLUXO DE CAIXA GERAL</h2>-->
<!--</div>-->

<!-- Content -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    FLUXO DE CAIXA
                    <small>Fluxo de caixa geral dos ultimos 30 dias, utilize o filtro para outras datas.</small>
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>DATA</th>
                            <th>TIPO</th>
                            <th>PROJETO</th>
                            <th>DESCRIÇÃO</th>
                            <th>USUÁRIO</th>
                            <th>VALOR (R$)</th>
                            <th>AÇÃO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>01/01/2019</td>
                            <td>Despesa</td>
                            <td>PROJETO X</td>
                            <td>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </td>
                            <td>Usuário A</td>
                            <td>R$ 1.000,00</td>
                            <td><i class="material-icons">pageview</i></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>03/01/2019</td>
                            <td>Despesa</td>
                            <td>PROJETO Y</td>
                            <td>
                                Sed at vulputate dui. Etiam nec hendrerit massa.
                            </td>
                            <td>Usuário A</td>
                            <td>R$ 5.850,00</td>
                            <td><i class="material-icons">pageview</i></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>12/01/2019</td>
                            <td>Receita</td>
                            <td>PROJETO W</td>
                            <td>
                                Proin risus urna, volutpat at auctor quis, tincidunt id mauris.
                            </td>
                            <td>Usuário A</td>
                            <td>R$ 11.000,00</td>
                            <td><i class="material-icons">pageview</i></td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>15/01/2019</td>
                            <td>Receita</td>
                            <td>PROJETO Z</td>
                            <td>
                                Phasellus porta lacus nec elit tincidunt dignissim.
                            </td>
                            <td>Usuário B</td>
                            <td>R$ 3.500,00</td>
                            <td><i class="material-icons">pageview</i></td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>22/01/2019</td>
                            <td>Despesa</td>
                            <td>PROJETO A</td>
                            <td>
                                Sed at vulputate dui. Etiam nec hendrerit massa.
                                eros eu, consequat lorem.
                            </td>
                            <td>Usuário B</td>
                            <td>R$ 22.000,00</td>
                            <td><i class="material-icons">pageview</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- #END# content -->


{% endblock content %}

{% block js_specific_page %}
    <!-- Bootstrap Colorpicker Js -->
    <script src="{% static "plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js" %}"></script>
    <!-- Dropzone Plugin Js -->
    <script src="{% static "plugins/dropzone/dropzone.js" %}"></script>
    <!-- Input Mask Plugin Js -->
    <script src="{% static "plugins/jquery-inputmask/jquery.inputmask.bundle.js" %}"></script>
    <!-- Multi Select Plugin Js -->
    <script src="{% static "plugins/multi-select/js/jquery.multi-select.js" %}"></script>
    <!-- Jquery Spinner Plugin Js -->
    <script src="{% static "plugins/jquery-spinner/js/jquery.spinner.js" %}"></script>
    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="{% static "plugins/bootstrap-tagsinput/bootstrap-tagsinput.js" %}"></script>
    <!-- noUISlider Plugin Js -->
    <script src="{% static "plugins/nouislider/nouislider.js" %}"></script>
{% endblock js_specific_page %}

{% block js_custom %}
    <!-- Custom Js -->
{#    <script src="{% static "js/pages/forms/advanced-form-elements.js" %}"></script>#}
    <script src="{% static "js/pages/ui/modals.js" %}"></script>
    <script src="{% static "js/chapeudepalha/jquery.maskMoney.js" %}"></script>
    <script src="{% static "js/chapeudepalha/cadastro/informacoes-participante.js" %}"></script>

{% endblock js_custom %}

{% block js_additional %}
    <script>
        activeItemMenu('fluxo-caixa-geral')
    </script>
{% endblock js_additional %}


