{% extends "01_base/base.html" %}
{% load static %}

{% block title %}LISTAGEM DE BENEFICIARIOS{% endblock title %}

{% block css_specific_page %}
    <!-- Colorpicker Css -->
    <link href="{% static "plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" %}" rel="stylesheet" />
    <!-- Dropzone Css -->
    <link href="{% static "plugins/dropzone/dropzone.css" %}" rel="stylesheet">
    <!-- Multi Select Css -->
    <link href="{% static "plugins/multi-select/css/multi-select.css" %}" rel="stylesheet">
    <!-- Bootstrap Spinner Css -->
    <link href="{% static "plugins/jquery-spinner/css/bootstrap-spinner.css" %}" rel="stylesheet">
    <!-- Bootstrap Tagsinput Css -->
    <link href="{% static "plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" %}" rel="stylesheet">
    <!-- Bootstrap Select Css -->
    <link href="{% static "plugins/bootstrap-select/css/bootstrap-select.css" %}" rel="stylesheet" />
    <!-- noUISlider Css -->
    <link href="{% static "plugins/nouislider/nouislider.min.css" %}" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'css/chapeudepalha/bootstrap-select.min.css' %}">


    <!-- Custom for page Css -->
    <link href="{% static "css/chapeudepalha/indicado.css" %}" rel="stylesheet" />
{% endblock css_specific_page %}

{% block content %}

<!--<div class="block-header text-center">-->
    <!--<h2>GERENCIAMENTO DE PROJETOS</h2>-->
<!--</div>-->

<!-- Content -->
<div class="row clearfix">
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
        <!--<div class="card">-->
            <div class="block-header">
                <h3>PROJETOS EM EXECUÇÃO</h3>
            </div>
            <!--<div class="body">-->
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">donut_small</i>
                        </div>
                        <div class="content">
                            <div class="text">NOME PROJETO</div>
                            <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">R$ 10.000,00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">drag_indicator</i>
                        </div>
                        <div class="content">
                            <div class="text">NOME PROJETO</div>
                            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">R$ 10.000,00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="info-box bg-deep-purple hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">event</i>
                        </div>
                        <div class="content">
                            <div class="text">NOME PROJETO</div>
                            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">R$ 10.000,00</div>
                        </div>
                    </div>
                </div>

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

<div class="row clearfix">
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
        <!--<div class="card">-->
            <div class="block-header">
                <h3>PROJETOS PENDENTES DE APROVAÇÃO</h3>
            </div>
            <!--<div class="body">-->
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="info-box bg-teal hover-expand-effect" style="font-size: 10px !important;">
                        <div class="icon">
                            <i class="material-icons">event_seat</i>
                        </div>
                        <div class="content">
                            <div class="text">NOME PROJETO</div>
                            <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">R$ 10.000,00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="info-box bg-grey hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">extension</i>
                        </div>
                        <div class="content">
                            <div class="text">NOME PROJETO</div>
                            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">R$ 10.000,00</div>
                        </div>
                    </div>
                </div>
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>


<div class="row clearfix">
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
        <!--<div class="card">-->
            <div class="block-header">
                <h3>PROJETOS FINALIZADOS</h3>
            </div>
            <!--<div class="body">-->

                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="info-box bg-amber hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">flight_takeoff</i>
                        </div>
                        <div class="content">
                            <div class="text">NOME PROJETO</div>
                            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">R$ 10.000,00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="info-box bg-indigo hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">group_work</i>
                        </div>
                        <div class="content">
                            <div class="text">NOME PROJETO</div>
                            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">R$ 10.000,00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="info-box bg-deep-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">markunread_mailbox</i>
                        </div>
                        <div class="content">
                            <div class="text">NOME PROJETO</div>
                            <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">R$ 10.000,00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">pan_tool</i>
                        </div>
                        <div class="content">
                            <div class="text">NOME PROJETO</div>
                            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">R$ 10.000,00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="info-box bg-lime hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">question_answer</i>
                        </div>
                        <div class="content">
                            <div class="text">NOME PROJETO</div>
                            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">R$ 10.000,00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="info-box bg-yellow hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">settings_remote</i>
                        </div>
                        <div class="content">
                            <div class="text">NOME PROJETO</div>
                            <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">R$ 10.000,00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="info-box bg-light-blue hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">store</i>
                        </div>
                        <div class="content">
                            <div class="text">NOME PROJETO</div>
                            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">R$ 10.000,00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="info-box bg-indigo hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">business</i>
                        </div>
                        <div class="content">
                            <div class="text">NOME PROJETO</div>
                            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">R$ 10.000,00</div>
                        </div>
                    </div>
                </div>


            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

<!-- #END# content -->


{% endblock content %}

{% block js_specific_page %}
    <!-- Bootstrap Colorpicker Js -->
    <script src="{% static "plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js" %}"></script>
    <!-- Dropzone Plugin Js -->
    <script src="{% static "plugins/dropzone/dropzone.js" %}"></script>
    <!-- Input Mask Plugin Js -->
    <script src="{% static "plugins/jquery-inputmask/jquery.inputmask.bundle.js" %}"></script>
    <!-- Multi Select Plugin Js -->
    <script src="{% static "plugins/multi-select/js/jquery.multi-select.js" %}"></script>
    <!-- Jquery Spinner Plugin Js -->
    <script src="{% static "plugins/jquery-spinner/js/jquery.spinner.js" %}"></script>
    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="{% static "plugins/bootstrap-tagsinput/bootstrap-tagsinput.js" %}"></script>
    <!-- noUISlider Plugin Js -->
    <script src="{% static "plugins/nouislider/nouislider.js" %}"></script>
{% endblock js_specific_page %}

{% block js_custom %}
    <!-- Custom Js -->
{#    <script src="{% static "js/pages/forms/advanced-form-elements.js" %}"></script>#}
    <script src="{% static "js/pages/ui/modals.js" %}"></script>
    <script src="{% static "js/chapeudepalha/jquery.maskMoney.js" %}"></script>
    <script src="{% static "js/chapeudepalha/cadastro/informacoes-participante.js" %}"></script>

{% endblock js_custom %}

{% block js_additional %}
    <script>
        activeItemMenu('projetos-geral')
    </script>
{% endblock js_additional %}


